body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.form-container {
    width: 45%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-top: 10px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 94%;
    padding: 10px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

.result-container {
    width: 50%;
    padding-left: 20px;
}

textarea {
    width: 100%;
    height: 95%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    background-color: #f8f9fa;
    color: #333;
    font-family: monospace;
}